@CHARSET "ISO-8859-1";
.nav-bar{
	display : flex;
	justify-content : space-around;
}
.nav-bar-btn{
	display : flex;
	align-items : center;
	justify-content : center;
	gap : 1rem;
}

.home{
	height : 80vh;
	display : flex;
	flex-direction : column;
	align-items : center;
	justify-content : center;
}