@CHARSET "ISO-8859-1";
.nav-bar, .sub-details-div{
	display : flex;
	justify-content : space-around;
}

.details-div{
	margin : 0.5rem 0 0.5rem 0;
	border-radius: 0.5rem;
	border: 1px black solid;
}

.sub-details-div p{
	font-weight : 600;
}

.nav-bar p{
	display : flex;
	align-items : center;
	justify-content : center;
}
.home{
	height : 80vh;
	display : flex;
	align-items : strech;
	justify-content : center;
	gap : 10rem;
}
.details, .form{
	margin-top : 2rem;
	width : 30vw;
	text-align: center;
}

form{
	height : 100vh;
	display : flex;
	flex-direction : column;
	align-items : center;
	justify-content : start;
	gap : 1rem;
}
